#bossHealthContainer {

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #555;
    border-radius: 5px;
    z-index: 10;
    display: none;
}

#bossHealthBar {

    height: 100%;
    background-color: green;
    width: 100%;
    border-radius: 5px;
    transition: width 0.25s ease-in-out;

}

#playerHealthContainer {

    position: fixed;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #555;
    border-radius: 5px;
    z-index: 10;
 
}

#playerHealthBar {

    height: 100%;
    background-color: green;
    width: 100%;
    border-radius: 5px;
    transition: width 0.25s ease-in-out;
}

* {

    font-size: 20px;
}

#startMenu {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
}

#startMenuBackground {
    width: 100vw;
    height: 100vh;
}


body, html {

    overflow: hidden;
    height: 100%;
    width: 100%;
}
