#scores li{
    font-size: 50px;
    list-style: none;

}

#scores {

    background-color: purple;
    border-radius: 5px;
    padding: 10px;
}

#bossHealthContainer {

    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #555;
    border-radius: 5px;
    z-index: 10;
    display: none;
}

#bossHealthBar {

    height: 100%;
    background-color: green;
    width: 100%;
    border-radius: 5px;
    transition: width 0.25s ease-in-out;
    z-index: 11;
}

#playerHealthContainer {

    position: fixed;
    top: 20px;
    left: 10%;
    transform: translateX(-50%);
    width: 300px;
    height: 30px;
    background-color: #555;
    border-radius: 5px;
    z-index: 10;
    display: none;
 
}

#playerHealthBar {

    height: 100%;
    background-color: green;
    width: 100%;
    border-radius: 5px;
    transition: width 0.25s ease-in-out;
}

* {

    font-size: 20px;
}

#startMenu {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
}


#controls {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: block;
    border-radius: 10px;

}

#controlsMenu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    border-radius: 10px;

}


#restartButton {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    border-radius: 10px;

}


#backButton {

    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    text-align: center;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #fff;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
    border-radius: 10px;

}

#startMenuBackground {
    width: 100vw;
    height: 100vh;

}


#gameOverBackground {

    width: 100vw;
    height: 100vh;
}

body, html {

    overflow: hidden;
    height: 100%;
    width: 100%;
}

#touch-controls {

    position: absolute;
  
    left: 10%;
    height: 200px;
    width: 200px;

    bottom: 0%;
 
   
}

#touch-controls div {

    background-color: green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    display: none;
    
    
}


#touch-controls-2 {

    position: absolute;
  
    left: 80%;
    height: 300px;
    width: 200px;

    bottom: 0%;

   
 
   
}

#touch-controls-2 div {

    background-color: green;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    display: block;
    margin-top: 20px;
    display: none;
    
    
}




#move-left {

    position: absolute;
    left: 0%;
    top: 75px;
    text-align: center;
}

#move-right {

    position: absolute;
    right: 0%;
    top: 75px;
    text-align: center;
}

#move-up {

    position: absolute;
    left: 80px;
    top: 0%;
    text-align: center;
}

#move-down {
    position: absolute;
    left: 80px;
    bottom: 0%;
    text-align: center;
}


#shieldIndicator {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    top: 20px;
    left: 20%;
}



@media (max-width: 768px) {

    #touch-controls div {
        display: block;
    }

   

    #startMenu, #controls, #controlsMenu, #backButton {
        width: 80%; /* Smaller width to fit mobile screens */
        font-size: 18px; /* Slightly smaller font size */
    }

    

    #touch-controls div {
        width: 60px; /* Larger touch targets */
        height: 60px;
    }


    #touch-controls-2 div {
        display: block;

    }
  

    * {
        font-size: 10px; /* Reduce font size for all elements */
    }
}